<h1><%= @place["name"] %></h1>

<p>
  <a href="/posts/new?place_id=<%= @place["id"] %>" class="btn btn-success">New Post</a>
</p>

<div class="row">
  <div class="col-3">
<% for post in @posts %>
  <h4><%= post["title"] %></h4>
  <p><%= post["posted_on"] %></p>
  <p><%= post["description"] %></p>
<% end %>
  </div>
</div>

<p>
  <a href="/places" class="btn btn-secondary">Back to All Places</a>
</p>


