<h2 class="mt-4"><%= @place["name"] %></h2>

<p>
  <a href="/posts/new?place_id=<%= @place["id"] %>" class="btn btn-success">New Post</a>
</p>

<div class="row">
  <% for post in @posts %>
    <div class="col-md-3 col-sm-6">
      <h4>
        <% user = User.find_by({ "id" => post["user_id"] }) %>
        <% if user %>
          <%= user["username"] %>
        <% else %>
          anonymous
        <% end %>
      </h4>

      <% if post.uploaded_image.attached? %>
        <img src="<%= url_for(post.uploaded_image) %>" class="img-fluid">
      <% else %>
        <img src="<%= post["image"] %>" class="img-fluid">
      <% end %>

      <img src="<%= post["image"] %>" class="img-fluid">
      <p><%= post["title"] %></p>
      <p><%= post["description"] %></p>
      <p><%= post["posted_on"] %></p>
    </div>
  <% end %>
</div>

<p class="mt-2">
  <a href="/places" class="btn btn-secondary">Back to All Places</a>
</p>


